<h1>Geocoded Locations:</h1>

<%#<%=@locations%>

<table>
  <tr>
    <td>Lat</td>
    <td>Lng</td>
  </tr>
  <% @locations.each do |location| %>
  <tr>
    <td><%= location.lat %></td>
    <td><%= location.lng %></td>
  </tr>
  <% end %>
</table>

<hr>

<h1>Geocode New Address</h1>

<%= form_tag("/welcome/create", method: "post") do %>
  <%= label_tag(:address, "Address:") %>
  <%= text_field_tag(:address) %>
  <%= submit_tag("Geocode") %>
<% end %>